<!-- atividade fazer site de cantores que vc escuta, etc... -->


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/curso-kawaii-main/bootstrap.css">
    <title>Singers</title>

</head>
<body>
 <center>  
<h1>Cantores famosos</h1>
</center> 

<div>

<h2>Meus cantores favoritos</h2>

    <ul>
        <li>Mitski</li>
        <li>Chappel Roan</li>
        <li>Melanie Martinez</li>
    </ul>

</div>


</body> 


<table class = "table table-striped table-hover">

    <tr>
        <th>Cantor</th>
        <th>Música</th>
        <th>Álbum</th>
    </tr>

    <tr>
        <td>Mitski</td>
        <td>Pink in the night</td>
        <td>Cowboy cartness</td>
    </tr>

    <tr>
        <td>Chappel Roan</td>
        <td>Casual</td>
        <td>The rise and fall</td>
    </tr>

    <tr>
        <td>Melanie Martinez</td>
        <td>Dollhouse</td>
        <td>Cry Baby</td>

    </tr>

</table>
</html>